#{extends 'administration.html' /}

<div class="games">
	<h2>&{'site.welcome.label'} ${user.firstname} ${user.lastname}!</h2>
	<p>&{'admin.welcome.message'}</p>
	<table class="admin">
		<thead>
			<th>&{'admin.games.column.title.label'}</th>
			<th>&{'admin.games.column.publish.label'}</th>
		</thead>
		<tbody>
		#{list items:games, as:'game'}
			<tr>
				<td><a class="item" 
						id="${game.id}" 
						href="#" 
						title="&{'admin.games.column.title.link.tooltip', game.title}">${game.title}</a>
				</td>
				<td>${(game.publish==true?"ok":"ko")}</td>
			</tr>
		#{/list}
		</tbody>
	</table>
	<div class="clear"></div>
</div>
<div id="game" class="games"></div>
<script>
	$(document).ready(function(){
		$('td .item').click(function(item){
			$('#game').slideUp();
			var id = $(this).attr('id');
			
			//alert('id='+id);
			$.get( '@{GameLibrary.show}', {id: id },function(data){$('#game').html(data);$('#game').slideDown()});
		});
	});
</script>