html > *{
	padding:0px;
	margin:0px;
}
body {
	font-family:Tahoma, Verdana, Sans Serif;
	font-size:10pt;
	margin:0em 5em;
}
.clear{
    clear:both;
}
.clearLeft{
    clear:left;    
}
.clearRight{
    clear:right;    
}
.hidden{
	display:none;
}
header {
    background-color:#000;
    color:#fff;
    margin:0em;
    padding:0em;
}
header h1 {
	padding:0.5em;
}
header h1 a{
	color:#fff;
	text-decoration:none;
}
header h2{
	padding:0.1em 0.5em;
}
header nav.menu{
	display:block;
	background-color:#ccc;
}
header nav.menu ul.user{
	float:left;
	display:block;
}
header nav.menu ul.admin{
	float:right;
	display:block;
}
header nav.menu ul li img.avatar{
	float:left;
	text-align:middle;
	padding-left:0.3em;
}

header nav.menu ul{
	display:block;
	list-style:none;
	margin:0em; 
	padding:0.4em;
	height:1.5em;
}
header nav.menu ul li {
	float:left;
	display:inline-block;
	padding-left:0.2em;
}
header nav.menu ul li a{
	display:block;
	background-color:#ddd;
	margin:0px; 
	padding:0.2em 0.6em;
	-weblit-border-radius:0.2em;
	-moz-border-radius:0.2em;
	border-radius:0.4em;
	border:1px solid #aaa;
	color:#000;
	text-decoration:none;
	font-size:0.8em;
}
header nav.menu ul li a:hover {
	background-color:#fff;
	color:#666;
}
header nav.menu ul li a.admin{
	background-color:#f96;
	border:1px outset #f96;
	color:#fe9;
}

header nav.admin{
	background-color:#f96;
}
header nav.admin ul li a{
	background-color:#e85;
	border:1px outset #e85;
	color:#fe9;
}
#content{
	min-height:20em;
}
.button {
	padding:0.2em 1em;
	font-size:8pt;
	color:#000;
	background-color:#f96;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:0.8em;
	border:0.2em outset #F96;
	text-decoration:none;
}
.games{
	display:block;
	width:80%;
}
.platforms{
    float:right;
    width:20%;
    padding:0.5em;
}
.platforms ul {
	list-style:none;
	padding:0em;
	margin:0em;
}
.platforms li {
	padding:0em;
	margin:0em;	
}
.platforms li a{
	display:block;
	padding:0.5em;
	border-bottom:1px solid #ddd;
	background-color:#eee;
	text-decoration:none;
}
.platforms li a:hover{
	background-color:#999;
	color:#fff;
}
.game {
	float:left;
	display:block;
	margin:0.5em;
	padding-bottom:0.5em;
	/*border-bottom:1px dotted #ddd;*/
	width:24em;
	height:12em;
	font-size:0.8em;
}
.cover {
	float:left;
	display:block;
	margin:0px 10px;
	padding-right:10px;
	clear:both;
}
.title {
	display:block;
	font-size:1.2em;
	border-bottom:1px solid #ddd;
	padding-bottom:5px;
	margin-bottom:5px;
}
.title a{
	text-decoration:none;
	font-size:9pt;
	color:#333;
	font-weight:bold;
}
.title span {
	font-size:8pt;
	color:#666;
}
.info {
	margin-left: 90px;
	border-left:1px dotted #ddd;
	padding-left:10px;
}
.platform a {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:7pt;
	padding:2px;
	margin-bottom:5px;
	text-decoration:none;
}
.X360 {
	background-color:#396;
	color:#fff;
}
.Wii {
	background-color:#fff;
	color:#000;
	border:1px solid #ddd;
}
.label {
	display:block;
	font-weight:bold;	
}
.block {
	display:block;
	padding-bottom:10px;
	width:25em;
	clear:right;
}
footer{
    background-color:#000;
    color:#fff;
    font-size:0.7em;
    text-align:center;
    padding:0.4em;
    margin-top:1em;
}
#loginForm{
	position:absolute;
	margin-left:35%;
	width:350px;
	height:250px;
	text-align:0px;
	border:3px outset #333;
	border-radius:4px;
	box-shadow:#ccc 0.2em 0.2em 0.4em;
	background-color:#eee;
}
#loginForm h1 {
    font-weight: bold;
    color: #111;
    text-align:center;
}
#loginForm form {
    padding: 10px;
    padding-top:30px;
    text-align: left;
}
#loginForm form p {
    margin: 3px;
}
#username-field {
    margin-top: 10px !important;
}

#username-field label, #password-field label {
    display: block;
    width: 100px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #333;
    font-size: 15px;
}

#username-field input {
    width: 150px;
    font-size: 13px;
}

#password-field input {
    width: 150px;
    font-size: 13px;
}

#remember-field input {
    margin-left: 100px;
}

#remember-field {
    font-size: 12px;
    color: #666;
}

#signin-field input {
    margin-left: 100px;
    margin-top: 10px;
}

#loginForm .error, #login .success  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

#loginForm .error {
    background: #c00 !important;
}

#loginForm .success {
    background: #008800 !important;
}
