html > *{
	padding:0px;
	margin:0px;
}
body {
	font-family:Tahoma, Verdana, Sans Serif;
	font-size:10pt;
}
/*----- Technical classes -----*/
.clear{
	clear:both;
}
.clearLeft{
	clear:left;
}
.clearRight{
	clear:right;
}
.hidden{
	display:none;
}
#messages {
	margin:0.5em;
	margin-right:18em;
	text-align:center;

}
#messages p.panel{
	display:block;
	/*border:1px solid #999;*/
	padding:10px;
	margin:0em;
	max-height:100px;
	clear:left;
	border-webkit-radius:0.5em;
	border-moz-radius:0.5em;
	border-radius:0.5em;
	box-shadow:#666 0.5em 0.5em 1em;
}
#messages p.info{
	background-image:url('../images/icons/silk/information.png');
	background-position:0.8em 0.8em;
	background-repeat:no-repeat;
	background-color:#cee;
}	
/*----- Define action button -----*/
.button {
	padding:0.2em 1em;
	font-size:11px;
	color:#000;
	background-color:#eee;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px outset #bbb;
	text-decoration:none;
	padding-left:24px;
	background-repeat:no-repeat;
	background-position: 2px 1px;
}
.button:hover{
	color: #000;
	text-shadow: #888 2px 2px 2px;
		/*,#888 -2px -2px 2px
		,#888 -1px 1px 2px
		,#888 1px -1px 2px;*/
	background-color:#ddd;
	border-color: #ddd;
}
.register{
	background-image:url('../images/icons/silk/application_form.png');
}
.login{
	background-image:url('../images/icons/silk/lock_open.png');
}
.logout{
	background-image:url('../images/icons/silk/lock_close.png');
}
.add{
	background-image:url('../images/icons/silk/item_add.png');
}
.addlist{
	background-image:url('../images/icons/silk/application_view_tile.png');
}
.dellist{
	background-image:url('../images/icons/silk/delete.png');
}
.export{
	background-image:url('../images/icons/silk/table_excel.png');
}
.prefs{
	background-image:url('../images/icons/silk/application_view_tile.png');
}
.home{
	background-image:url('../images/icons/silk/house_go.png');
}
.cancel{
	background-image:url('../images/icons/silk/cancel.png');
}
.save{
	background-image:url('../images/icons/silk/database_save.png');
}
.accept{
	background-image:url('../images/icons/silk/accept.png');
}
a.admin {
	background-color:#e85;
	background-image:url('../images/icons/silk/brick_edit.png');
}
a.users-bt{
	background-image:url('../images/icons/silk/folder_user.png');
}
a.games-bt{
	background-image:url('../images/icons/silk/controller.png');
}
/*----- Page decoration -----*/
.page {
	box-shadow:#000 0.3em 0.3em 1em;
	margin:0em 5%;
	padding:0em;
	min-width:740px;
}
/*----- Page header definition -----*/
header {
    background-color:#000;
    color:#fff;
    margin:0em;
    padding:0em;
}
header h1 {
	padding: 0.5em 0.5em 0.2em 1em;
    text-shadow:#fff 4px 4px 8px;
    font-family:Arial, sans serif;
}
header h1 a{
	color:#fff;
	text-decoration:none;
}
header h2{
	padding:0em 0em 0em 1em;
}
/*----- Définition des barres d'actions -----*/
header nav {
	display:block;
	background-color:#ccc;
	padding:0px;
	margin:0px;
	height:30px;
	border-bottom:1px solid #666;
	box-shadow:0px 4px 4px #333;
	z-index: 100;
}
header nav ul {
	display:block;
	margin:0px;
	padding:0px;
	box-shadow:outset 1px 1px 2px #000;
}
header nav ul li {
	display:inline-block;
	padding:0px;
	margin:0px;
}
header nav ul li a {
	display:block;
	margin:2px 0px; 
	padding:2px 4px;
	height:16px;
	font-size:0.8em;
	border-right:1px solid #aaa;
	text-decoration:none;
	font-size:0.8em;
	text-decoration:none;
	font-size:0.8em;
}
header nav ul li a img.avatar{
	float:left;
	text-align:middle;
	padding:0px;
	margin:0px;
	margin:0px 4px -2px -1px;
	border-radius:2px;
}
header nav ul li a.item{
	padding-left:24px;
	background-repeat:no-repeat;
	background-position: 6px 2px;
}
header nav ul.admin {
	float:right;
	display:block;
	padding:2px;
	margin:0px;
	padding-left:6px;
	height:26px;
	min-width:200px;
	border-left:1px solid #666;
}
header nav ul li a{
	-weblit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
header nav ul li:last-child a{
	-weblit-border-radius:8px 0px 0px 8px;
	-moz-border-radius:8px 0px 0px 8px;
	border-radius:8px 0px 0px 8px;
}
header nav ul li:first-child a{
	-weblit-border-radius:0px 8px 8px 0px;
	-moz-border-radius:0px 8px 8px 0px;
	border-radius:0px 8px 8px 0px;
}
header nav ul.user {
	float:left;
	display:block;
	float:left;
	padding:2px 10px;
	margin:0px /*10px*/;
	border-right:1px inset #ddd;
	border-radius: 12px;
}
header nav.menu ul li a{
	background-color:#ddd;
	color:#000;
	border:1px outset #ccc;
}
header nav.menu ul li a:hover {
	background-color:#fff;
	color:#666;
	border:1px outset #eee;
}
header nav.menu ul li a.user:hover {
	background-color:#ddd;
	color:#000;
}
/*----- barre d'aministration (droite) -----*/
header nav ul.admin {
	float:right;
	display:block;
	padding:2px 10px;
	margin:0px /*10px*/;
	/*padding-left:6px;*/
	height:26px;
	min-width:200px;
	border-left:1px inset #ddd;
	border-radius: 12px;
}
header nav ul.admin li {
	float:right;
}
/* admin mode */
header nav.admin{
	background-color:#f96;
}
header nav.admin ul li a{
	background-color:#e85;
	border:1px outset #e85;
	color:#fe9;
}
header nav.admin ul.admin{
	background-color:#fb7;
	border-left:1px solid #963;
}
header nav.admin ul.admin li a {
	background-color:#f96;
	border:1px outset #e85;
	color:#300;
}
header nav.admin ul.admin li a:hover {
	background-color:#fb8;
	border:1px outset #ea7;
	color:#ffc;
}
header nav ul li a:active {
	border-style: inset;
}
/*----- Contenu de la page -----*/

#content{
	min-height:20em;
	padding:0em 0em;
}
/*----- Search component -----*/
#sidebar input#search {
	float:left;
	background-color:#eee;
	width:98%;
	background-image:url('../images/icons/silk/magnifier.png');
	background-repeat:no-repeat;
	background-position:right;
	-webkit-border-radius:0.4em;
	-moz-border-radius:0.4em;
	border-radius:0.4em;
}
.result{
	display:block;
	top:-4px;
	float:right;
	position:relative;
	z-index:0;
	border:2px inset #ddd;
	border-top:1px solid #ddd;
	border-radius:0px 0px 4px 4px;
	padding:2px;
	/*max-height:100px;*/
	width:200px;
	scroll:auto	
}
.result .listof li{
	display:block;
	background-color:#fff;
	border-bottom:1px solid #ddd;
	font-size:8pt;
	min-height:36px;
	mouse:hand;
}
.result .listof li div{
	float:right;
	font-size:6pt;
	padding:1px;
	margin:2px;
}
.result .listof li img {
	float:left;
	display:block;
	padding:2px;
	vertical-align:center;
}
.result .listof  li:hover{
	background-color:#eee;
}
/*----- Games list zone -----*/
.page{
	display:block;
}
#sidebar{
	float: right;
	width: 16em;
	padding: 0.5em;
	margin: 0em;
	/*border-left:1px solid red;*/
	border-radius:0px 0px 2em 2em;
	-webkit-box-shadow:#666 -2px 0px 8px;
	-moz-box-shadow:#666 -2px 0px 8px;
	box-shadow:#666 -2px 0px 8px;
	min-height:400px;
}
.games{
	margin-right:20em;
	display:block;
	margin:0em;
	padding:0em;
}
.games h2{
	float:left;
}
.games .list{
	clear:left;
}
/*----- Actions links on page bottom -----*/
.games ul.actions{
	float:left;
	display:block;
	list-style:none;
	margin:0px;
	padding:10px 0px;
	border-top:2px solid #ccc;
	width:70%;
}
.games ul.actions li{
	display:inline-block;
	padding:0px;
	margin:0px;
	margin-right:4px;
}
#sidebar ul {
	list-style:none;
	padding:0em;
	margin:0em;
}
#sidebar li {
	padding:0em;
	margin:0em;	
	/*-webkit-box-shadow:inset 4px 4px 8px #000;
	-moz-box-shadow:inset 4px 4px 8px #000;
	box-shadow:inset 4px 4px 8px #000;*/
}
#sidebar li a{
	display:block;
	padding:0.5em;
	border-bottom:1px solid #000;
	background-color:#eee;
	text-decoration:none;
	color:#fff;
	text-shadow:0px 0px 2px #000;
	height:24px;
	font-size:12pt;
	font-weight:bold;
}
#sidebar li:hover{
	opacity : 0.4;
    filter: alpha(opacity=40); // msie
}
#sidebar li a:hover{
	color:#000;
	text-shadow:0px 0px 2px #fff;
	opacity : 0.4;
    filter: alpha(opacity=40); // msie
    background-color: #000;
    -webkit-transform:margin:
}
#sidebar li a img{
	vertical-align:middle;
	max-width:24px;
	max-height:24px;
}
#sidebar li a.logo{
	padding:4px;
	background-repeat:no-repeat;
	background-position:center;
}
#sidebar li a.all{
	background-image:url('../images/icons/consoles/medium/all.png');
}
#sidebar li a.wii{
	background-image:url('../images/icons/consoles/medium/wii.png');
}
#sidebar li a.x360{
	background-image:url('../images/icons/consoles/medium/x360.png');
}
#sidebar ul.gameslists li a{
	height:18px;
	font-size:10pt;
	font-weight:normal;
	padding:0.2em 0.8em;	
}

/*----- Game item -----*/
.game {
	float:left;
	display:block;
	margin:0.2em;
	padding:0.5em;
	padding-bottom:0.5em;
	/*border-bottom:1px dotted #ddd;*/
	width:22em;
	height:13em;
	font-size:0.8em;
}
.game:hover{
	background-color:#eeeeee;
	border-radius:8px;
}
.bloc{
	min-height:3.5em;
	max-height:3.5em;
	color:#666;
}
.game .cover {
	float:left;
	display:block;
	margin:0px 10px;
	padding-right:10px;
	border-right:1px dotted #ddd;
}
.game .title {
	display:block;
	height:2.2em;
	font-size:1.2em;
	border-bottom:1px solid #ddd;
	padding-bottom:5px;
	margin-bottom:5px;
	vertical-align:bottom;
}
.game .count{
	display:box;
	float:right;
	bottom:0px;
	font-size:7pt;
	margin-top:10px;
	border-top:1px dotted #ddd;
	padding-top:10px;
	color:#999;
}
.game .title a{
	text-decoration:none;
	font-size:9pt;
	color:#333;
	font-weight:bold;
}
.game .title span {
	margin:0em;
	font-size:7pt;
	color:#999;
	text-align:center;
}
.game .info {
	margin: 10px 0px 10px 80px;
	padding-left:10px;
	text-align:justify;
}
.platform {
	display:block;
	padding-bottom:0.5em;
}
.platform a {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:7pt;
	padding:2px 4px;
	text-decoration:none;
}
.All {
	background-color:#666;
	color:#fff;
}

.x360 {
	background-color:#396;
	color:#fff;
}
.wii {
	background-color:#fff;
	color:#000;
	border:1px solid #ddd;
}
.label {
	display:block;
	font-weight:bold;	
}
.block {
	display:block;
	padding-bottom:10px;
	width:25em;
	clear:right;
}
/*----- Fiche de détails d'un jeu -----*/
.details {
	margin-right:18em;
}
.details .info{
	margin-left:180px;
}
.details .info .platform a{
	font-size:11pt;
	font-weight:bold;
}
.details .cover img{
	border:2px solid #ccc;
	border-radius: 8px;
	box-shadow:4px 4px 8px #000;
	clear:left;
}
.details .title {
	padding:0.5em 0em;
}
.details .title a{
	font-size:1.4em;
}
.details .title span{
	float:left;
	padding:0.5em;
}
.details .label{
	padding:0.5em 0em;
}
.details .bloc{
	padding:1.2em 0em;
}
/*----- Pied de page -----*/
footer{
	background-color:#000;
	color:#fff;
	font-size:0.7em;
	text-align:center;
	padding:0em;
	margin:0em;
	margin-top:1em;
}
footer .copyright{
	border-top:1px dotted #666;
	padding:0.4em;
}
footer a{
	color:#ffe;
	text-decoration:none;
	border-bottom:1px dotted #ffe;
}
footer .columns{
	margin:0em;
	padding:0.5em 0em;
	background-color:#333;
}
footer .columns p{
	float:left;
	margin:Oem;
	margin-left:1em;
	padding:0em;
	width:32%;
}
