#{extends 'main.html' /}

#{form @Preferences.update(user?.id)}
	<fieldset id="preferences">
		<legend>&{'preferences.user.personal'}</legend>
		<div class="avatar">
			#{field 'user.image'}
			<div class="field">
				<label for="${field.id}">&{'preferences.user.image.label'}<br /> </label>
				<img src="images/User/avatars/${field.value}" title=""/><br />
				<input id="${field.id}" type="file" name="${field.name}" value="${field.value}" class="${field.errorClass}" />
	            <span class="error">${field.error}</span>
			</div>
			#{/field}
		</div>
		<div class="infos">
			#{field 'user.username'}
			<div class="field">
				<label for="${field.id}">&{'preferences.user.username.label'}</label>
				<input id="${field.id}" type="text" name="{field.name}" value="${field.value}" class="${field.errorClass}" />
	            <span class="error">${field.error}</span>
			</div>
			#{/field}
			#{field 'user.firstname'}
			<div class="field">
				<label for="${field.id}">&{'preferences.user.firstname.label'}</label>
				<input id="${field.id}" type="text" name="{field.name}" value="${field.value}" class="${field.errorClass}" />
	            <span class="error">${field.error}</span>
			</div>
			#{/field}
			#{field 'user.lastname'}
			<div class="field">
				<label for="${field.id}">&{'preferences.user.lastname.label'}</label>
				<input id="${field.id}" type="text" name="{field.name}" value="${field.value}" class="${field.errorClass}" />
	            <span class="error">${field.error}</span>
			</div>
			#{/field}
			#{field 'user.email'}
			<div class="field">
				<label for="${field.id}">&{'preferences.user.email.label'}</label>
				<input id="${field.id}" type="text" name="{field.name}" value="${field.value}" class="${field.errorClass}" />
	            <span class="error">${field.error}</span>
			</div>
			#{/field}
			#{field 'user.webblog'}
			<div class="field">
				<label for="${field.id}">&{'preferences.user.webblog.label'}</label>
				<input id="${field.id}" type="text" name="{field.name}" value="${field.value}" class="${field.errorClass}" />
	            <span class="error">${field.error}</span>
			</div>
			#{/field}
		</div>
		
		<hr size="1" noshade="noshade" />

		#{field 'user.password'}
		<div class="field">
			<label for="${field.id}">&{'preferences.user.password.label'}</label>
			<input id="${field.id}" type="text" name="{field.name}" value="${field.value}" class="${field.errorClass}" />
            <span class="error">${field.error}</span>
		</div>
		#{/field}
		#{field 'user.passwordConfirm'}
		<div class="field">
			<label for="${field.id}">&{'preferences.user.passwordConfirm.label'}</label>
			<input id="${field.id}" type="text" name="{field.name}" value="${field.value}" class="${field.errorClass}" />
            <span class="error">${field.error}</span>
		</div>
		#{/field}
	</fieldset>

	<fieldset>
		<legend>&{'preferences.user.legend'}</legend>

		#{field 'user.language'}
		<div class="field">
			<label for="${field.id}">&{'preferences.user.language.label'}</label>
			<select id="${field.id}" name="{field.name}" value="${field.value}" class="${field.errorClass}" >
				<option value="en">&{'language.english.label'}</option>
				<option value="fr">&{'language.french.label'}</option>
			</select>
            <span class="error">${field.error}</span>
		</div>
		#{/field}
	</fieldset>
	<hr size="2" noshade="noshade">
	<input type="submit" class="button save" value="&{'preferences.actions.update.label'}" title="&{'preferences.actions.update.label.tooltip'}"/>
	<a class="button cancel" href="/" title="&{'preferences.actions.cancel.label.tooltip'}">&{'preferences.actions.cancel.label'}</a>
#{/form}
