<footer>
	<div class="columns">
		<p><a href="http://www.playframework.org/"
			title="Visit the Play!framework official web site">Play!framework</a></p>
		<p><a href="http://www.transifex.net/projects/p/myplayapp/">MyPlayApp @ tx|transifex</a></p>
		<p><a href="https://www.github.com/mcgivrer/myplayapp/">MyPlayApp @ github.com</a></p>
		<div class="clear"></div>
	</div>
	<div class="copyright">
		<p>&{'site.footer.label'} - &{'site.footer.credits', "http://www.famfamfam.com/lab/icons/silk/"}</p>
	</div>
</footer>