<div class="details" id="game_${_game.id}">
		<div class="title"><span>#${_game.id}.</span> <a href="@{Application.details(_game.id)}">${_game.platform}/${_game.title}</a></div>
	<div class="side">
		#{if _game.cover}
		<div class="cover">
			<a rel="lightbox" 
				href="@{GameLibrary.getPicture(_game.id,"cover",null,"320x640")}"
				title="<strong>${_game.platform}/${_game.title}<strong><br/><em>&{_game.shortDescription}</em>">
			<img alt="&{'game.details.cover.alt', _game.title, _game.platform}" 
				 src="@{GameLibrary.getPicture(_game.id,"cover",null,"120x180")}"
				 title="${_game.platform}/${_game.title}"/></a>
		</div>
		#{/if}
		<div class="tags">
		<!-- in futur chapter-->
		</div>
	</div>
	<div class="info">
		<span class="platform">
			<a class="${_game.platform.toLowerCase()}" 
			href="@{Application.filterByPlatform(_game.platform)}">${_game.platform}</a>
		</span>
		#{if _game.description}
		<div class="label">&{'home.games.game.description'}</div>
		<div class="bloc">${_game.description}</div>
		#{/if}
		#{if _game.testContent}
		<div class="label">&{'home.games.game.test'}</div>
		<div class="bloc 3columns">${_game.testContent.textile().raw()}</div>
		#{/if}

		#{if _game.listItems}
			<h2>&{'home.game.show.referenced.gamelist.title'}</h2>
			#{list items:_game.listItems, as:'gameItem'}
				<li><a href="@{Application.filterByGameList(gameItem.id)}">${gameItem.gameList.title}</a></li>
			#{/list}
		#{/if}

	</div>

	<div class="clear"></div>
	<hr size="2"></hr>
		<a class="button home" href="@{Application.index()}" title="&{'admin.backhome.label.tooltip'}">&{'admin.backhome.label'}</a>

</div>
<script type="text/javascript">
$(function() {
   $('a[rel=lightbox]').lightBox({
		overlayBgColor: '#000',
		overlayOpacity: 0.6,
		imageBlank: '/public/images/jquery/lightbox/lightbox-blank.gif',
		imageLoading: '/public/images/jquery/lightbox/lightbox-ico-loading.gif',
		imageBtnClose: '/public/images/jquery/lightbox/lightbox-btn-close.gif',
		imageBtnPrev: '/public/images/jquery/lightbox/lightbox-btn-prev.gif',
		imageBtnNext: '/public/images/jquery/lightbox/lightbox-btn-next.gif',
		containerResizeSpeed: 250,
		txtImage: "&{'lightbox.image.label'}",
		txtOf: "&{'lightbox.image.of'}"
   });
});
</script>