#{if _userConnected}
	<section id="searchForm">
		<label for="search">&{'home.search.label'}</label><br />
		<input type="text" name="search" id="search" size="25" accesskey="R" maxlength="40" autocomplete="off" placeholder="&{'home.search.placeholder'}"/>
		<div class="result" style="display:none;">
		</div>
		<script type="text/javascript">
		$("#search").keyup(function(event) { // retour simple
			if(event.keyCode==13){
				$.post('@{GameLibrary.findByGameTitle()}',
					{search: $("#search").val()}, 
					function(data){
						$('#games').html(data);
					}
				);
			}
			if($('#search').val().length>0){
				$.post('@{GameLibrary.proposedGameTitle()}',
					{search: $("#search").val()}, 
					function(data){
						$('#searchForm .result').css("display","block");
						$('#searchForm .result').html(data);
					}
				);
			}
		});
		</script>
	</section>
	#{if _items}
	    <h2>&{'home.platforms.title'}</h2>
	    <ul>
	        <li>
	        	<a href="@{Application.filterByPlatform('*')}" 
	        		title="&{'home.platforms.filter.showAll.label'}">
	        		&{'home.platforms.filter.showAll'}</a>
	        </li>
		#{list items:_items, as:'platform'}
	        <li><a href="@{Application.filterByPlatform(platform)}" 
	        		title="&{'home.platforms.filter.label', platform}">
	        		${platform}</a>
       		</li>
		#{/list}
	    </ul>
	#{/if}
#{/if}