#{extends 'main.html' /}

#{set title:'Home / ' + game.platform + ' / ' + game.title /}
<div class="details" id="game_${game.id}">
		<div class="title"><span>#${game.id}.</span> <a href="@{Application.details(game.id)}">${game.platform}/${game.title}</a></div>
	<div class="side">
		#{if game.cover}
		<div class="cover">
	        <a rel="lightbox" href="@{GameLibrary.getPicture(game.id,"cover",null,"")}">
	        <img alt="&{'game.details.cover.alt', game.title, game.platform}" 
	        	 src="@{GameLibrary.getPicture(game.id,"cover",null,"60x90")}"
	             title="${game.platform}/${game.title}"/></a>
		</div>
		#{/if}
		<div class="tags">
		<!-- in futur chapter-->
		</div>
	</div>
	<div class="info">
		#{if game.description}
		<div class="label">&{'home.games.game.description'}</div>
		<div class="bloc">${game.description}</div>
		#{/if}
		#{if game.testContent}
		<div class="label">&{'home.games.game.test'}</div>
		<div class="bloc 3columns">${game.testContent.textile().raw()}</div>
		#{/if}

	</div>
                
	<div class="clear"></div>
	<hr size="2"></hr>
        <a class="button home" href="@{Application.index()}" title="&{'admin.backhome.label.tooltip'}">&{'admin.backhome.label'}</a>

</div>
