#{extends 'main.html' /}

<section id="platforms" class="platforms">
	#{if user}
		#{if platforms}
			<h2>&{'home.platforms.title'}</h2>
			<ul>
				<li><a href="@{Application.index()}" title="&{'home.platform.filter.showAll.label'}">&{'home.platforms.filter.showAll'}</a></li>		
				#{list items:platforms, as:'platform'}
				<li><a href="@{Application.filterByPlatform(platform)}" title="&{'home.platform.filter.label', platform}">${platform}</a></li>
				#{/list}
			</ul>
		#{/if}
	#{/if}
</section> 

<section id="games" class="games">
#{if user}
	#{if games}
		<h2>&{'home.games.title', user?.username}</h2>
		#{list items:games, as:'game'}
			#{set title:'Home / ' + filterPlatform /}
			<div class="game" id="game_${game.id}">
					<div class="title"><span>#${game.id}.</span> <a href="@{Application.details(game.id)}">${game.title}</a></div>
				<div class="side">
					#{if game.cover}
					<div class="cover">
						<a href="/public/images/games/${game.platform}/${game.title}/cover/${game.cover}">
							<img src="/public/images/games/${game.platform}/${game.title}/cover/${game.cover}.resized" 
								title="${game.platform}/${game.title}"/></a>
					</div>
					#{/if}
					<div class="tags">
					</div>
				</div>
				<div class="info">
				 	<span class="platform"><a class="${game.platform}" href="@{Application.filterByPlatform(game.platform)}">${game.platform}</a></span>
					#{if game.description}
						<div class="bloc">${game.description}</div>
					#{/if}
				</div>
			</div>
		#{/list}
	#{/if}
	#{else}
		<p>&{'home.games.noitems'}</p>
	#{/else}
	<div class="clear"></div>
	<hr size="2"></hr>
		<a class="button add" accesskey="A" href="@{Application.addGame()}" title="&{'home.add.game.label.tooltip'}">&{'home.add.game.label'}</a>
#{/if}
#{else}
	<p>&{'home.anonymous.welcome.message',{Register.create()}}</p>
#{/else}

</section>