<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	    <header>
			<h1>&{'site.title'}</h1>
			<h2>&{'site.subtitle'}</h2>
			<nav class="menu admin">
				#{if user}
				<ul class="user">
					<li><a href="#">
                        <img class="avatar" src="http://www.gravatar.com/avatar/${user.gravatarHash}?s=16"/>
                        ${user.firstname} ${user.lastname}</a></li>
					<li><a class="item home" 
                        href="@{Application.index()}" 
                        title="&{'admin.backhome.label.tooltip'}">&{'admin.backhome.label'}</a></li>
					<li><a class="item prefs" 
                        href="@{Preferences.show()}" 
                        title="&{'admin.preferences.label.tooltip'}">&{'admin.preferences.label'}</a></li>
					<li><a class="item logout" 
                        href="@{Secure.logout()}" 
                        title="&{'admin.logout.label.tooltip'}">&{'admin.logout.label'}</a></li>      
				</ul>
				#{/if}
				#{if user.isRole('ADMINISTRATOR')}
				<ul class="admin">
					<li><a class="item admin users-bt" 
                        href="@{administration.Users.list()}" 
                        title="&{'admin.users.label.tooltip'}">&{'admin.users.label'}</a></li>
					<li><a class="item admin games-bt" 
                        href="@{administration.Games.list()}" 
                        title="&{'admin.games.label.tooltip'}">&{'admin.games.label'}</a></li>
				</ul>
				#{/if}
			    <div class="clear"></div>
			</nav>
			
		</header>
    	<section id="content">
	        #{doLayout /}
	    	<div class="clear"></div>
    	</section>
    	<footer>
    		<p>&{'site.footer.label'}</p>
    	</footer>
	</body>
</html>
