<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery.lightbox-0.5.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.lightbox-0.5.pack.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<header>

    		<h1><a href="@{Application.index()}">&{'site.title'}</a></h1>
    		<h2>&{'site.subtitle'}</h2>

    		<nav class="menu">
    			<ul class="user">
   				#{if user}
    				<li><img class="avatar" src="http://www.gravatar.com/avatar/${user.gravatarHash}?s=16"/>${user.firstname} ${user.lastname}</li>
					<li><a href="@{Application.index()}" title="&{'admin.backhome.label.tooltip'}">&{'admin.backhome.label'}</a></li>
					<li><a href="@{Preferences.show()}" title="&{'admin.preferences.label.tooltip'}">&{'admin.preferences.label'}</a></li>
    				<li><a href="@{Secure.logout()}" title="&{'home.actions.logout.label'}">&{'home.actions.logout'}</a></li>
   				#{/if}
   				#{if !user}
    				<li><a href="@{Register.create()}" title="&{'home.actions.register.label'}">&{'home.actions.register'}</a></li>
    				<li><a id="login" href="#" title="&{'home.actions.login.label'}">&{'home.actions.login'}</a></li>
   				#{/if}
   				</ul>
   				<ul class="admin">
   				#{if user}
    				#{if user.isRole("ADMINISTRATOR")}
	    				<li><a class="admin" href="@{Administration.index()}" title="&{'home.actions.admin.label'}">&{'home.actions.admin'}</a></li>
    				#{/if}
   				#{/if}
    			</ul>
    			<div class="clear"></div>
    		</nav>

    	</header>
    	<section id="content">
	        #{doLayout /}
	    	<div class="clear"></div>
	    	<div id="loginForm" class="hidden">
	    	</div>
    	</section>
    	<footer>
    		<p>&{'site.footer.label'}</p>
    	</footer>
    	<script type="text/javascript">
    		$('a#login').click(function(){
        		$.get('@{Secure.login()}',function(data){
            		$('#loginForm').html(data);
            		$('#loginForm').show();
            		$('#username').focus()
        		});
    		});
    	</script>
		<script type="text/javascript">
		$(function() {
		   $('a[rel=lightbox]').lightBox({
			overlayBgColor: '#FFF',
			overlayOpacity: 0.6,
			imageLoading: 'public/images/jquery/lightbox/lightbox-ico-loading.gif',
			imageBtnClose: 'public/images/jquery/lightbox/lightbox-btn-close.gif',
			imageBtnPrev: 'public/images/jquery/lightbox/lightbox-btn-prev.gif',
			imageBtnNext: 'public/images/jquery/lightbox/lightbox-btn-next.gif',
			containerResizeSpeed: 350,
			txtImage: '&{'lightbox.image.label'}',
			txtOf: '&{'lightbox.image.of'}'
		   });
		});
		</script>
    </body>
</html>
